@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Prompt:wght@100&display=swap');

.title{
    font-family: 'Cairo', sans-serif;
   
    font-size: 4rem;
    }
.appbar{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.user-name{
    font-family: 'Prompt', sans-serif;
    font-size: 1.5rem;
}